.login-screen {
  background-image: url(/assets/design-mural.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.4);
  background-blend-mode: lighten;

  height: 100vh;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.logInFailedMsg {
  position: absolute;
  top: 30vh;
}

.alert-danger {
  background-color: white;
}

.skip-login-link {
 font-size: 17px;
}

.skip-login-container {
  margin-top: 15px;
}