<div class="login-screen">
  <button class="btn btn-danger login-btn" (click)="logIn()">
    Sign in with Gmail
  </button>
  <div *ngIf="skipLoginAllowed" class="skip-login-container">
    <a [routerLink]="" class="skip-login-link" (click)="changeStatusToLoggedIn()">Skip login</a>
  </div>
  <div *ngIf="showLogInFailedMessage" class="alert alert-warning logInFailedMsg">
    {{error}}
    <button type="button" class="close" aria-label="Close" (click)="hideErrorMsg()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>