<div class='card'>
        <div class='card-header'></div>
        <div class='card-body'>
            <div class='row mb-3 text-left'>
                <div class='col-md-2'>Filter by period:</div>
                <div class='col-md-1'> 
                    <input type='text' [(ngModel)]="filterText" />
                </div>
            </div>
            
            <div class='row mb-3 text-left'>
                <div class='col-md-2'>Bill status:</div>
                <div class='col-md-1'>
                    <select (change)="filterBills($event.target.value)">
                        <option value="0">All</option>
                        <option value="1">Paid</option>
                        <option value="2">Partially paid</option>
                        <option value="3">Unpaid</option>
                    </select>
                </div>
            </div>

            <div class='row'>
                <div class='col-md-6'></div>
            </div>

            <mat-table class="mat-elevation-z8" [dataSource]="billsData">

                <ng-container matColumnDef="flat">
                    <th mat-header-cell *matHeaderCellDef>Apartment no</th>
                    <td mat-cell *matCellDef="let bill">{{bill.flat}}</td>
                </ng-container>

                <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef>Sum</th>
                    <td mat-cell *matCellDef="let bill">{{bill.total}}</td>
                </ng-container>

                <ng-container matColumnDef="sumToPay">
                    <th mat-header-cell *matHeaderCellDef>Still to pay</th>
                    <td mat-cell *matCellDef="let bill">{{bill.sumToPay}}</td>
                </ng-container>

                <ng-container matColumnDef="monthToPayFor">
                    <th mat-header-cell *matHeaderCellDef>Period</th>
                    <td mat-cell *matCellDef="let bill">{{bill.monthToPayFor | toMonthName}}</td>
                </ng-container>

                <ng-container matColumnDef="paymentDeadline">
                    <th mat-header-cell *matHeaderCellDef>Deadline</th>
                    <td mat-cell *matCellDef="let bill">{{bill.paymentDeadline | date: "dd/MM/yyyy"}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>

                <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
                


            </mat-table>

            <div class='table-responsive'>
                <table class='table' *ngIf='billsData && billsData.length'>
                        <thead>
                            <tr>  
                                <th>Apartment no</th>
                                <th>Sum</th>
                                <th>Still to pay</th>
                                <th>Period</th>
                                <th>Deadline</th>
                                <th>Payment/Comment</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let bill of billsData | searchBillsByMonth: filterText">
                                <td>{{bill.flat}}</td>
                                <td>{{bill.total}}</td>
                                <td>{{bill.sumToPay}}</td>
                                <td>{{bill.monthToPayFor | toMonthName }}</td>
                                <td>{{bill.paymentDeadline | date: "dd/MM/yyyy" }}</td>
                                <!--<td><button class='btn btn-outline-primary' [disabled]="bill.status == 1" (click)='saveTotalPay(bill)'>Paid</button></td>-->
                                <td>
                                    <form class="form-inline" #billForm="ngForm" (ngSubmit)="updateBill(bill, comment.value)" #paidAmountForm="ngForm">
                                        <div class="form-group">
                                            <label for="paidAmount">Paid amount:</label>
                                            <!--min validation is not supported in template-driven forms #16352-->
                                            <input type="number" id="paidAmount" name="paidAmount" [disabled]="bill.status == 1" class="form-control" min="0" #validator="ngModel" [(ngModel)]="bill.partialPayAmount">
                                            
                                            <div *ngIf="validator.invalid && (validator.dirty || validator.touched)" class="alert alert-danger" role="alert">
                                                <div *ngIf="validator.errors?.min">Please enter number greater than 0</div>
                                            </div>
                                      
                                            <label for="comment">Comment:</label>
                                            <input type="text" class="form-control" name="comment" #comment [disabled]="bill.status == 1" />
                            
                                        </div>

                                        <button type="submit" [disabled]="bill.status == 1 || billForm.form.invalid" class="btn btn-outline-primary">Submit</button>
                                        
                                    </form>
                                </td>
                                <td><button class='btn btn-outline-primary'><i class="fa fa-trash fa-2x" (click)='delete(bill)'></i></button></td>
                            </tr>
                        </tbody>
                    </table>         
            </div>
            <button class='btn btn-outline-primary' (click)='downloadLogs()'>Download logs</button>
            <button class='btn btn-outline-primary' (click)='addBills()'>Add bills for this month</button>
        </div>
    </div>
