button {
    cursor: pointer;
}

a > img {
    cursor: pointer;
}

table {
    text-align: left;
    width: 100%;
}

.bills-view-container {
    width: 80%;
    margin: auto;
}

.buttons-group > * {
    margin-right: 5px;
}

.mat-header-cell {
    text-align: left;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: #FCFBFA;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
border-bottom-width: 0;
}

tr.example-detail-row {
    height: 0;
}

#bill-status-label {
    font-weight: bold;
}

#bill-select-form {
    margin-top: 10px;
    margin-bottom: 12px;
}

th.mat-sort-header-sorted {
    color: black;
}

.expandable {
    margin: 7px auto;
}

.btn-group {
    cursor: pointer;
}

.add-bills-btn {
    width: 160.56px;
    height: 30.8px;
    text-align: left;
}
